<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0c64a972-58d7-4060-aae7-7b9653bfb78f/resourceGroups/MyResourceGroup/providers/Microsoft.Web/sites/Async-Hotel-Inn</ResourceId>
    <ResourceGroup>MyResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://async-hotel-inn.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://async-hotel-inn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Async-Hotel-Inn</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>